<!DOCTYPE html>
<html>
<head>
    <title>OAuth Security Lab - Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="login-container">
        <h1>OAuth Security Lab</h1>
        <div class="oauth-buttons">
            <a href="/auth/google" class="oauth-button google">
                Login with Google
            </a>
            <div class="oauth-button-separator"></div>
            <a href="/auth/facebook" class="oauth-button facebook">
                Login with Facebook
            </a>
            <div class="oauth-button-separator"></div>
            <a href="/auth/twitter" class="oauth-button twitter">
                Login with Twitter
            </a>
            <div class="oauth-button-separator"></div>
            <a href="/auth/microsoft" class="oauth-button microsoft">
                Login with Microsoft
            </a>
            <div class="oauth-button-separator"></div>
            <a href="/auth/apple" class="oauth-button apple">
                Sign in with Apple
            </a>
        </div>
    </div>
</body>
</html>
